<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <!--    导入vue-->
    <script src="/res/js/vue.js" type="text/javascript"></script>
<!--    导入element-ui组件-->
    <script src="/res/js/index.js" type="text/javascript"></script>
    <link href="/res/css/index.css" rel="stylesheet">
<!--    导入jquery-->
    <script src="/res/js/jquery.min.js" type="text/javascript"></script>
</head>
<style>
    body{
        background-color: #3a8ee6;
        background-image: url("/res/images/9.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .el-card{
        width: 400px;
        margin: 0 auto;
        margin-top: 30px;
        background-color: rgba(255,255,255,0.5);
    }
    .code_input{
        width: 67.5%;
    }
    .box-card{
        border-radius: 15px;
        border: 0px;
    }
    .code_p{
        text-align: center;
    }
    .sendButton{
        width: 112px;
    }
    .submit{
        /*margin-left: 38%;*/
        justify-content: center;
    }
    .a_div{
        float: right;
        margin-top: -50px;
    }

</style>
<body>
<div id="register">
    <el-card class="box-card">
        <div slot="header"  class="clearfix">
            <div style="text-align: center;font-size: 30px">注册</div>
        </div>
        <el-form id="form" :rules="formRules" ref="user" :model="user"><!--        :rules表示绑定规则-->
            <el-form-item prop="userName">
                <el-input  prefix-icon="el-icon-s-custom" v-model="user.userName" type="text" placeholder="请输入用户名"></el-input>
            </el-form-item>

            <el-form-item prop="userEmail">
                <el-input prefix-icon="el-icon-lock" v-model="user.userEmail" type="text" placeholder="请输入邮箱"></el-input>
            </el-form-item>

            <el-form-item prop="userBirth">
                请选择出生日期
                <el-input v-model="user.userBirth" type="date"></el-input>
            </el-form-item>

            <el-form-item prop="userPassword">
                <el-input prefix-icon="el-icon-lock" v-model="user.userPassword" type="password" placeholder="请输入密码" show-password></el-input>
            </el-form-item>

            <el-form-item  prop="rePassword">
                <el-input prefix-icon="el-icon-lock" v-model="user.rePassword" type="password" placeholder="请再次输入密码" show-password></el-input>
            </el-form-item>

            <el-form-item>
                <el-input prefix-icon="el-icon-lock" v-model="user.checkCode" type="text" placeholder="请输入验证码" class="code_input"></el-input>
                <el-button :loading="loginStatus" @click="sendCode" type="primary" :disabled="buttonStatus" class="sendButton">{{buttonName}}</el-button>
            </el-form-item>

            <el-form-item>
                <p class="code_p">
                    <el-button @click="register" type="primary" class="submit">注册</el-button>
                <div class="a_div">已有账号?去<a href="/">登录</a></div>
                </p>
            </el-form-item>

        </el-form>
    </el-card>
</div>

<script>
    new Vue({
        el:"#register",
        data(){
            //给rePassword制定规则
            var passCheck=(rule,value,callback)=>{
                if(value===""){
                    callback(new Error("请再次输入密码!"))
                }else if(value!==this.user.userPassword){
                    callback(new Error("两次密码不一致!"))
                }else {
                    callback();
                }
            }
            return{
                buttonStatus:false,//按钮状态
                loginStatus:false,//加载状态
                buttonName:"发送验证码",//按钮名称
                user:{
                    userName:"",
                    userEmail: "",
                    userPassword:"",
                    userBirth:"",
                    //验证码
                    checkCode:"",
                    //再次输入密码
                    rePassword:"",
                },

                //申明表单验证规则
                formRules:{
                    userName:[
                        {required:true,message:"账号不能为空",trigger:"blur"}//非空，提示消息，触发器
                    ],
                    userEmail:[
                        {required:true,message:"邮箱不能为空",trigger:"blur"}
                    ],
                    userBirth:[
                        {required:true,message:"出生日期不能为空",trigger:"blur"}
                    ],
                    userPassword:[
                        {required:true,message:"密码不能为空",trigger:"blur"}
                    ],
                    rePassword:[
                        {required:true,trigger:"blur",validator:passCheck}//validator:表示引用自定义的规则
                    ],

                }
            }
        },
        methods:{
            //表单检验  检验表单是否成功
            register_check(){
                var result;
                this.$refs['user'].validate((valid)=>{
                    if(valid){
                        result=true;
                    }else{
                        result=false;
                    }
                })
                return result;
            },
            //注册按钮触发函数
            register(){
                var _this = this;
                // alert(new Date())
                //提交前判断表单验证
                var boo = _this.register_check()
                // alert(boo)
                if(boo){
                    $.ajax({
                        url:"/user/register",
                        type:"post",
                        contentType:"application/json",//表示发送的是json格式数据
                        dataType:"json",//表示接受后端传来的json数据
                        data:JSON.stringify(_this.user),//将user转换成JSON格式字符串
                        success:function (res) {
                            //弹框提示
                            _this.$message({
                                type:res.code===200?"success":"error",
                                message:res.msg,
                            })
                            // console.log(res)
                        }
                    })
                }else{
                    alert("失败！")
                }
            },
            sendCode(){
                var _this=this;
                _this.loginStatus=true;
                var type = _this.register_check();
                if(!type){
                    return
                }
                //请求发送邮箱接口
                $.ajax({
                    url:"/user/sendCode",
                    type:"get",
                    dataType:"json",//表示接受后端传来的json数据
                    data:{
                        "userEmail":_this.user.userEmail,
                    },
                    success:function (res) {
                        //弹框提示
                        _this.$message({
                            type:res.code===200?"success":"error",
                            message:res.msg,
                        })
                        //请求成功
                        if(res.code===200){
                            //禁用按钮
                            _this.buttonStatus=true;
                            _this.times();
                        }
                        _this.loginStatus=false
                    },
                })
            },
            // 计时
            times(){
                var _this=this;
                var count=30;//设置倒计时
                //每隔一秒-1
                var time = setInterval(()=>{
                    _this.buttonName=count+"S";
                    count--;
                    if(count<0){
                        clearInterval(time);
                        _this.buttonName="重新发送"
                        _this.buttonStatus=false;
                    }
                },1000)//每隔一秒执行一次代码
            },

        }
    })
</script>
</body>
</html>